<%= decoder_name %> : Decoder <%= decoder_type %>
<%= decoder_name %> =
    oneOf [ <%= for {clause, idx} <- Enum.with_index(clauses) do %><%#
          %><%= if idx == 0 do %><%#
          %><%= clause_template.(clause) %><%#
          %><% else %>
          , <%= clause_template.(clause) %><%#
          %><% end %><%#
          %><% end %><%#
          %><%= if nullable? do %>
          , null Nothing<%#
          %><% end %>
          ]
