<%= decoder_name %> : Decoder <%= decoder_type %>
<%= decoder_name %> =
    Decode.oneOf [ <%= Enum.map_join(clauses, "\n                 , ", fn clause -> "#{clause.decoder_name} |> Decode.andThen (#{clause.wrapper} << #{clause.constructor_name})" end) %><%#
        %><%= if nullable? do %>
                 , Decode.null Nothing<%#
        %><% end %>
                 ]
