<%= decoder_name %> : Decoder <%= type_name %>
<%= decoder_name %> =
    Decode.succeed <%= type_name %><%#
    %><%= for clause <- clauses do %>
        <%= if  Map.has_key?(clause, :property_decoder) do %><%#
        %>|> custom (<%= clause.property_decoder %> |> Decode.andThen <%= clause.decoder %>)<%#
      %><% else %><%#
        %>|> custom <%= clause.decoder_name %><%#
      %><% end %><%#
    %><% end %>
