<%= fuzzer_name %> : Fuzzer <%= type_name %>
<%= fuzzer_name %> =
    Fuzz.map<%= if length(fuzzers) < 2 do "" else length(fuzzers) end %>
        <%= type_name %>
        <%= Enum.join(fuzzers, "\n        ") %>


encodeDecode<%= type_name %>Test : Test
encodeDecode<%= type_name %>Test =
    fuzz <%= fuzzer_name %> "can encode and decode <%= type_name %> object" <|
        \<%= argument_name %> ->
            <%= argument_name %>
                |> <%= encoder_name %>
                |> Decode.decodeValue <%= decoder_name %>
                |> Expect.equal (Ok <%= argument_name %>)
