<%= decoder_name %> : Decoder <%= type_name %>
<%= decoder_name %> =
    map<%= Enum.count(clauses) %> <%= type_name %><%#
        %><%= for {clause, idx} <- Enum.with_index(clauses) do %><%#
        %><%= if  Map.has_key?(clause, :property_decoder) do %>
        (index <%= idx %> <%= clause.property_decoder %>) |> andThen <%= clause.decoder %>)<%#
        %><% else %>
        (index <%= idx %> <%= clause.decoder_name %>)<%#
        %><% end %><%#
        %><% end %>
