<%= fuzzer_name %> : Fuzzer (List <%= items_type_name %>)
<%= fuzzer_name %> =
    Fuzz.list <%= items_fuzzer_name %>


encodeDecode<%= array_name %>Test : Test
encodeDecode<%= array_name %>Test =
    fuzz <%= fuzzer_name %> "can encode and decode <%= array_name %>" <|
        \<%= argument_name %> ->
            <%= argument_name %>
                |> <%= encoder_name %>
                |> Decode.decodeValue <%= decoder_name %>
                |> Expect.equal (Ok <%= argument_name %>)
