import <%= prefix %><%= import.title %>
    exposing
        ( <%= for {dep, idx} <- Enum.with_index(import.dependencies) do %><%#
        %><%= if idx == 0 do %><%#
        %><%= dep.type_name %>
        , <%= dep.decoder_name %>
        , <%= dep.encoder_name %><%#
        %><% else %>
        , <%= dep.type_name %>
        , <%= dep.decoder_name %>
        , <%= dep.encoder_name %><%#
        %><% end %><%#
        %><% end %>
        )
