module <%= prefix %><%= title %> exposing (..)

-- <%= description %>

import Helper.Encode as Encode
import Json.Decode as Decode exposing (Decoder)
import Json.Decode.Extra as Decode
import Json.Decode.Pipeline
    exposing
        ( custom
        , optional
        , required
        )
import Json.Encode as Encode exposing (Value)
<%= for import_name <- imports do %><%#
%>import <%= prefix %><%= import_name %> as <%= import_name %>
<% end %>
