module <%= prefix %><%= title %>Tests exposing (..)

-- Tests for <%= title %>

import Expect exposing (Expectation)
import Fuzz exposing (Fuzzer, int, list, string)
import Test exposing (..)
import Json.Decode as Decode
import Json.Encode as Encode
