<%= decoder_name %> : Decoder <%= type_name %>
<%= decoder_name %> =
    succeed <%= type_name %><%#
    %><%= for clause <- clauses do %>
        <%= if  Map.has_key?(clause, :property_decoder) do %><%#
        %>|> custom (nullable (<%= clause.property_decoder %> |> andThen <%= clause.decoder %>))<%#
      %><% else %><%#
        %>|> custom (nullable <%= clause.decoder_name %>)<%#
      %><% end %><%#
    %><% end %>
